/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F0F0F7;
}
// common styling
a{
    text-decoration: none !important;
    color: black;
}
th,td{
    font-size: 14px;
}
// common styling

.sidebar{
    background-color: #42425c;
    min-height: 100%;
    color: #f4f5ff;
    overflow: auto;
}
.mainPage{
    height: fit-content;
}
.title-head{
    font-size: 1.25rem;
    .bolder-title{
        font-weight: 700;
    }
}
select.sortBy{
    width: 93px;
    height: 37px;
    background: #E6E6E6;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
}

.btnFnctn{
    background: #43425D;
    color: #E6E6E6;
}
.btnFnctn-outline{
    border: 1px solid #43425D;
}
.form-select{
    width: fit-content !important;
    font-size: 12px;
}
.bg-gray{
    background-color: #E5E5E5;
}
h6{
    font-size: 0.75rem !important;
}
.dateShow{
    height: 24px;
    font-size: 12px;
    background-color: #E5E5E5;
}