
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$launchpal-primary: mat.define-palette(mat.$indigo-palette);
$launchpal-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$launchpal-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$launchpal-theme: mat.define-light-theme((
  color: (
    primary: $launchpal-primary,
    accent: $launchpal-accent,
    warn: $launchpal-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($launchpal-theme);

/* You can add global styles to this file, and also import other style files */
body{
    font-family: 'Lato', sans-serif;
    background-color: #F0F0F7;
}
// common styling
a{
    text-decoration: none !important;
    color: black;
}
th,td{
    font-size: 14px;
}
// common styling

.sidebar{
    // background-color: #42425c;
    // background-color: #1A1F37;
    background: #1a1f37;
    background: linear-gradient(140deg,#1a1f37 50%, #0075ff 80%);
    min-height: 100%;
    color: #f4f5ff;
    overflow: auto;
}
.mainPage{
    height: fit-content;
    background-color: #0C1F3B;
}
.title-head{
    font-size: 1.25rem;
    .bolder-title{
        font-weight: 700;
    }
}
select.sortBy{
    width: 93px;
    height: 37px;
    background: #E6E6E6;
    border-radius: 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
}

.btnFnctn{
    // background: #43425D;
    background: #000;
    color: #E6E6E6;
}
.btnFnctn-outline{
    // border: 1px solid #43425D;
    border: 1px solid #000;
    color: #E6E6E6;
}
.form-select{
    width: fit-content !important;
    font-size: 12px;
}
.bg-gray{
    background-color: #E5E5E5;
}
h6{
    font-size: 0.75rem !important;
}
.dateShow{
    height: 24px;
    font-size: 12px;
    background-color: #E5E5E5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
